# 第2章: UNIXコマンド

[popular-names.txt](https://nlp100.github.io/data/popular-names.txt)は，アメリカで生まれた赤ちゃんの「名前」「性別」「人数」「年」をタブ区切り形式で格納したファイルである．以下の処理を行うプログラムを作成し，popular-names.txtを入力ファイルとして実行せよ．さらに，同様の処理をUNIXコマンドでも実行し，プログラムの実行結果を確認せよ．

In [1]:
;wget https://nlp100.github.io/data/popular-names.txt

--2020-11-27 19:31:42--  https://nlp100.github.io/data/popular-names.txt
nlp100.github.io (nlp100.github.io) をDNSに問いあわせています... 185.199.108.153, 185.199.109.153, 185.199.110.153, ...
nlp100.github.io (nlp100.github.io)|185.199.108.153|:443 に接続しています... 接続しました。
HTTP による接続要求を送信しました、応答を待っています... 200 OK
長さ: 55026 (54K) [text/plain]
`popular-names.txt.2' に保存中

     0K .......... .......... .......... .......... .......... 93% 5.28M 0s
    50K ...                                                   100% 10.0M=0.01s

2020-11-27 19:31:44 (5.46 MB/s) - `popular-names.txt.2' へ保存完了 [55026/55026]

***10. 行数のカウント***<br>
行数をカウントせよ．確認にはwcコマンドを用いよ

In [1]:
i=0
filename="popular-names.txt"

open(filename,"r") do f
    array=readlines(f)
    println(length(array))
end

2780

In [2]:
# ;wc -l ./popular-names.txt

***11. タブをスペースに置換***<br>
タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [3]:
output="popular-names1.txt"
open(filename,"r") do f
    open(output,"w") do w
        for line in eachline(f)
            println(w,replace.(line,['\t'=>' '])[1])

    end
    end
end
filename=output

"popular-names1.txt"

In [4]:
# ;sed -e 's/\t/ /g' ./popular-names.txt | head -n 5 #パイプさん??

***12. 1列目をcol1.txtに，2列目をcol2.txtに保存***<br>
各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

In [5]:
first_rows_file="col1.txt"
second_rows_file="col2.txt"
first_rows=""
second_rows=""
open(filename,"r") do f
    for line in eachline(f)
        s=split(line)
        global first_rows*=s[1]
        global first_rows*="\n"
        global second_rows*=s[2]
        global second_rows*='\n'
    end
end
    
open(first_rows_file,"w") do w1
        print(w1,first_rows)
end
open(second_rows_file,"w") do w2
        print(w2,second_rows)
end

In [6]:
# ;cut -f 1 ./popular-names.txt

***13. col1.txtとcol2.txtをマージ***<br>
12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

In [7]:
output_file="col1_col2_merged.txt"
res=[]
open(first_rows_file, "r") do f1
    for line in eachline(f1)
        push!(res,line)
    end
end
open(second_rows_file,"r") do f2
    i=1
    for line in eachline(f2)
        res[i]*="\t"
        res[i]*=line
        i+=1
    end
end
open(output_file,"w") do w
    for str in res
        println(w,str)
    end
end

In [8]:
# ;paste col1.txt col2.txt

***14. 先頭からN行を出力***<br>
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ.

In [9]:
Inputs()= parse.(Int,split(readline()))
Input()=parse.(Int,readline())
N=Input()
filename="popular-names.txt"
open(filename,"r") do f
    array=readlines(f)
    for i=1:N
        println(array[i])
    end
end

stdin>

ArgumentError: ArgumentError: input string is empty or only contains whitespace

In [10]:
# ;head -n 10 popular-names.txt

***15. 末尾のN行を出力***<br>
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ.

In [11]:
N=Input()
open(filename,"r") do f
    array=readlines(f)
    l=length(array)
    for i=l-N+1:l
        println(array[i])
    end
end

stdin>

ArgumentError: ArgumentError: input string is empty or only contains whitespace

In [12]:
# ;tail -n 10 popular-names.txt

***16. ファイルをN分割する***<br>
自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．

In [13]:
N=Input()
filename="popular-names1.txt"
res=[]
open(filename,"r") do f
    array=readlines(f)
    p=Int(floor(length(array)/N))
    q=Int(length(array)%N)
    idx=1
    for i=1:N
        if i>q 
            push!(res,array[idx:idx+p-1])
            idx+=p
        else 
            push!(res,array[idx:idx+p])
            idx+=p+1
        end
    end
end
length(res)

stdin>

ArgumentError: ArgumentError: input string is empty or only contains whitespace

In [88]:
# ;split -l  278 ./popular-names1.txt

***17. １列目の文字列の異なり***<br>
1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはcut, sort, uniqコマンドを用いよ．

In [27]:
list=[]
open(filename,"r") do f
    for line in eachline(f)
        line=split(line," ")
        push!(list,line[1])
    end
end
set=Set(list)
print(length(set))

136

In [30]:
# ;cut -f 1 ./popular-names.txt | sort | uniq | wc -l 　# notebook()では確認できない

***18. 各行を3コラム目の数値の降順にソート***<br>
各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）．

In [ ]:
# ここにきて, DataFrames を用いる
using DataFrames
using CSV

# 読み込みやすいようにcsvにする
csv_file="csv_file.csv"
open(filename,"r") do f
    open(csv_file,"w") do w
        for line in eachline(f)
            println(w,replace.(line,[' '=>", "])[1])
    end
    end
end

In [70]:
df=CSV.read(csv_file,header=[:name,:sex,:number,:birth])
sort!(df,order(:number,rev=true))

2780×4 DataFrame
│ Row  │ name    │ sex    │ number │ birth │
│      │ String  │ String │ Int64  │ Int64 │
├──────┼─────────┼────────┼────────┼───────┤
│ 1    │ Linda   │  F     │ 99689  │ 1947  │
│ 2    │ Linda   │  F     │ 96211  │ 1948  │
│ 3    │ James   │  M     │ 94757  │ 1947  │
│ 4    │ Michael │  M     │ 92704  │ 1957  │
│ 5    │ Robert  │  M     │ 91640  │ 1947  │
│ 6    │ Linda   │  F     │ 91016  │ 1949  │
│ 7    │ Michael │  M     │ 90656  │ 1956  │
│ 8    │ Michael │  M     │ 90517  │ 1958  │
│ 9    │ James   │  M     │ 88584  │ 1948  │
│ 10   │ Michael │  M     │ 88528  │ 1954  │
⋮
│ 2770 │ Alice   │  F     │ 1542   │ 1882  │
│ 2771 │ Bertha  │  F     │ 1508   │ 1882  │
│ 2772 │ Annie   │  F     │ 1492   │ 1882  │
│ 2773 │ Ida     │  F     │ 1472   │ 1880  │
│ 2774 │ Ida     │  F     │ 1439   │ 1881  │
│ 2775 │ Alice   │  F     │ 1414   │ 1880  │
│ 2776 │ Annie   │  F     │ 1326   │ 1881  │
│ 2777 │ Bertha  │  F     │ 1324   │ 1881  │
│ 2778 │ Bertha  │  F     │ 1320   │ 1880  │
│ 2779 │ Alice   │  F     │ 1308   │ 1881  │
│ 2780 │ Sarah   │  F     │ 1288   │ 1880  │

In [71]:
# ;cat ./popular-names.txt | sort -rnk 3 | head -n 5

LoadError: syntax: extra token "3" after end of expression

***19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる***<br>
各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ.

In [100]:
using StatsBase

name=df[:name]

string_count = StatsBase.countmap(name)
s=sort(collect(string_count),by=x->x[2],rev=true)
name_sorted=[p.first for p in s]
num=[p.second for p in s]
s

┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[100]:2
└ @ Core In[100]:2

136-element Array{Pair{String,Int64},1}:
     "James" => 118
   "William" => 111
      "John" => 108
    "Robert" => 108
      "Mary" => 92
   "Charles" => 75
   "Michael" => 74
 "Elizabeth" => 73
    "Joseph" => 70
  "Margaret" => 60
    "George" => 58
    "Thomas" => 58
     "David" => 57
             ⋮
    "Pamela" => 1
   "Carolyn" => 1
     "Tracy" => 1
     "Laura" => 1
     "Lucas" => 1
     "Scott" => 1
      "Lori" => 1
   "Crystal" => 1
    "Rachel" => 1
    "Walter" => 1
     "Julie" => 1
     "Kelly" => 1

In [ ]:
# cut -f 1 ./popular-names.txt | sort | uniq -c | sort -rn